body {
    margin: 0 auto;
    max-width: 800px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
}

fieldset {
    background-color: #eaecee;
    padding: 1rem;
}

:required {
    border-color: red;
}
button.submit {
    background-color: black;
}

.primer {
    border-bottom: 5px solid black;
}

.last {
    border-bottom: 5px solid black;
}

.Send {
    background-color: black;
    color: white;
    border: none;
}
